{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core JavaScript-->
<!-- <script src="{%  static 'vendor/jquery/jquery.min.js' %}"></script> -->
<!-- Core plugin JavaScript-->
<!-- <script src="{%  static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script> -->
<!-- Stylesheet -->
<link href="{%  static 'css/stylesheet.css' %}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">


<link href="{%  static 'css/stylesheet.css' %}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-en_US.js"></script>


<script>
	$( function() {
		$('#search').keyup( function()  {
			console.log("Hello");
			$.ajax( {
				type: 'POST',
				url: '/search/',
				data: {
					'search_text': $('#search').val(),
					'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
				},
				success: searchSuccess,
				dataType: 'html'
			} );
		} );

	});

	function searchSuccess(data, textStatus, jqXHR ) {
		console.log("Success")
		$('#search-results').html(data);
	}


		$(window).on('load', function() {
	    console.log( "ready!" );
			// Get the modal
			var modal = document.getElementById('id01');

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
			    if (event.target == modal) {
			        modal.style.display = "none";
			    }
			}
		});

		var geocoder;
		var map;
		var address = "{{ shops.address  }} . Singapore"
		//var address = "new york city";

		// Initialize and add the map
		function initMap() {

			geocoder = new google.maps.Geocoder();

		  // The location of Uluru
		  //var uluru = {lat: -25.344, lng: 131.036};
		  // The map, centered at Uluru

		  // The marker, positioned at Uluru
		  //var marker = new google.maps.Marker({position: uluru, map: map});

			codeAddress(address);
		}


		function codeAddress(address) {

		    geocoder.geocode({ 'address': address }, function (results, status) {
		        console.log(results);
		        var latLng = {lat: results[0].geometry.location.lat (), lng: results[0].geometry.location.lng ()};
		        console.log (latLng);
		        if (status == 'OK') {
								map = new google.maps.Map(document.getElementById('map'), {zoom: 16, center: latLng});
		            var marker = new google.maps.Marker({
		                position: latLng,
		                map: map
		            });
		            console.log (map);
		        } else {
		            alert('Geocode was not successful for the following reason: ' + status);
		        }

		    });
		}


</script>
<style>
.coupon {
    /* border: 5px dotted #bbb; */
		border: 5px dotted #ff7f50;
    width: 80%;
    border-radius: 15px;
    margin: 20px auto;
		padding: 20px;
    /*max-width: 500px;*/
}

.coupon .container {
    padding: 2px 16px;
    background-color: #ff7f50;
		border-top-left-radius: 15px;
}

.coupon .container h3{
		color: white;
}

.company-img img {
    display: block;
    margin: 10px auto;
}

.promo {
    background: #ccc;
    padding: 3px;
}

.expire {
    color: red;
}

.reviews-container {
	margin: 0px auto 10px auto;
  padding: 0px 16px 0px 16px;
  background-color: #f1f1f1;
}

.checked {
    color: orange;
}
.clear {
	clear: both;
}

#map {
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
}

.user-action {
	text-decoration: none;
	color: #2f3542;
}

.navbar-header{
  margin-left:5px;
  width:100%;
}

.container {
	padding: 16px;
	background-color: white;
	width: 100%;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #444;
    color: #fff;
    /* margin-top: 20px; */
		position: fixed;
    left: 0;
    bottom: 0;
		width: 100%;
}

.shop-header {
    max-width: 75%;

    margin-left: auto;
    margin-right: auto;
		margin-top: 20px;

    position: relative;

		border-bottom: 1px solid #aaa;
}

.shop-sub-header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
    max-width: 75%;

    padding: 20px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
		color: #555;
}

.glyphicon {
    font-size: 22px;
}

.submitreviewBtn {
    /* background-color: #4CAF50; */
		background-color: #e74c3c;
    color: white;
    padding: 16px 20px;
    /* margin: 30px 75px 30px 0px; */
		margin: 20px 10%;
    border: none;
    cursor: pointer;
		opacity: 0.9;
    /* width: 50%; */
		float: right;
		width: 15%;
}

</style>
</head>
<body>

	<!-- navbar-dark bg-info -->
	<nav class="navbar navbar-expand-sm" style="padding: 10px 15%;">
	<div class="navbar-header">
	    <a class="navbar-brand" href="{% url 'system:blank'%}"><img src="{% static 'image/logo.png' %}" alt="banner" class="responsive" style="height: 60px; width: 120px; margin-top: -10px;"></a>

	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarXs">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="navbar-collapse collapse pull-right" id="collapsingNavbarXs">
	        <ul class="navbar-nav" style="font-family: 'Open Sans'; font-size: 18px; color: black;">
							{% if user.is_authenticated %}
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'system:createpoll'%}">Create Poll</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'system:managepoll'%}">Manage Poll</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'system:userfavourite'%}">Favourites</a>
	            </li>
							{% endif %}
							<li class="nav-item">
									{% if user.is_authenticated %}
									{% else %}
											<a class="nav-link" href="{% url 'system:register'%}">Register</a>
									{% endif %}
	            </li>
	            <li class="nav-item">
									<!--
										For UNAUTHENTICATED user calling {{user.is_authenticated}} results:
											CallableBool(True) (when on Django < 1.10 it was True)
										For AUTHENTICATED user calling {{user.is_authenticated}} results:
											CallableBool(False) (when on Django < 1.10 it was False)
									-->
									{% if user.is_authenticated %}
										<form id="logout-form" action="{% url 'system:logout_user'%}" method='POST'>
											{% csrf_token %}
											<!-- <button type="submit" class="auth_btn" style="width:auto;">Logout</button> -->
										</form>
										<!-- Note: This is outside the form as to align with other on the nav bar list -->
										<a class="nav-link" href="javascript:{}" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
									{% else %}
									  	<a class="nav-link" onclick="document.getElementById('id01').style.display='block'"  href="#">Login</a>
											<!-- <button class="auth_btn" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button> -->
									{% endif %}
	            </li>
	        </ul>
	    </div>
	</div>
	</nav>

	<div class="shop-header d-flex justify-content-between">
	    <div>
	        <h3 style="color: #e74c3c;"><b> {{ shops.company_name }}</b></h3>
	    </div>
	    <div class="float-right">
				{% if user.is_authenticated %}
					{% if favourited.count >= 1 %}
						<span class="glyphicon glyphicon-heart" style="color: red;"></span><span class="user-action" style="color: red;"> Added to favourite</span>
					{% else %}
						<span class="glyphicon glyphicon-heart-empty"></span><a href="{% url 'system:favourite' pk=shops.pk %}" class="user-action"> Add to favourites</a>
					{% endif %}
				{% endif %}
	    </div>
	</div>

</br>

	<div class="shop-sub-header d-flex justify-content-between" style="font-family: 'Nunito', sans-serif;border: 1px solid #aaa; border-radius: 10px; padding: 0px;">
	    <div style="width:50%;">
	        <div id="map"></div></br>
	    </div>
	    <div style="width:50%;">
				<h3 style="font-family: 'Open Sans'; font-size: 20px; color: #777;">Store Details</h3>
				<p><b><img src= "{% static 'image/web.png' %}" alt="instagram" style="width:6%; margin-right: 13px;"></b> {{ shops.website  }}</p>
				<p><b><img src= "{% static 'image/phone.png' %}" alt="instagram" style="width:6%; margin-right: 13px;"></b> {{ shops.phone_number  }}</p>
				<p><b><img src= "{% static 'image/email.png' %}" alt="instagram" style="width:6%; margin-right: 13px;"></b> {{ shops.email  }}</p>
				<p><b><img src= "{% static 'image/facebook.png' %}" alt="facebook" style="width:6%;margin-right: 13px;"></b> {{ shops.facebook  }}</p>
				<p><b><img src= "{% static 'image/instagram.png' %}" alt="instagram" style="width:6%;margin-right: 13px;"></b> {{ shops.instagram  }}</p>
				<h3 style="font-family: 'Open Sans'; font-size: 20px; color: #777;">Where to locate</h3>
				<b><p><span class="glyphicon glyphicon-map-marker" style="margin-right: 13px;"></span></b>{{ shops.address }}</p>
				<h3 style="font-family: 'Open Sans'; font-size: 20px; color: #777;">Share</h3>
				<p>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><img src= "{% static 'image/facebook_share.png' %}" alt="facebook" style="width:6%;"></a>
					<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'><img src= "{% static 'image/googleplus_share.png' %}" alt="googleplus" style="width:6%;"></a>
				</p>
	    </div>
	</div>



<div class="coupon">
	<h3 style="font-family: 'Open Sans'; font-size: 20px; color: #777;">Reviews from the Halal Pal community</h3>
	<p style="color: #777;"><i><b>Read what others think and submit your own too!</b></i></p>
	<div class="card-deck">
	{{shop.reviews.count}}
	{% for review in reviews.all %}
		<div class="col-auto mb-5">
			<div class="card" style="width: 30.5rem;">
				<div class="card-body">
					<h4 class="card-title" style="color: #777;"><b>{{ review.user }}</b></h4>
					<p class="card-text"><small class="text-muted">{{ review.created_date }}</small></p>
					<p class="card-text text-muted">{{ review.body|linebreaks }}</p>
					<p>
							{% for i in review.numberOfRating %}
								<span class="fa fa-star checked"></span>
							{%endfor%}
					</p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>

	<div class="clear"></div>
</div>
{% if user.is_authenticated %}
	<!-- {{ user.username  }},</br> -->
	  <a href="{% url 'system:add_review' pk=shops.pk %}" class="user-action">
			<button class="submitreviewBtn" type="button">Submit a review</button>
		</a><br>
{% endif %}


<div id="id01" class="modal">

  <form id="login-form" method="POST" class="modal-content animate" action="{% url 'system:login_user'%}">
		{% csrf_token %}
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <spann class="avatar">Login</span>
    </div>

    <div class="container">
			{{ form }}
			<button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">New User? <a href="{% url 'system:register'%}">Register</a></span>
    </div>
  </form>
</div>

</body>
</html>
