{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core JavaScript-->
<!-- <script src="{%  static 'vendor/jquery/jquery.min.js' %}"></script> -->
<!-- Core plugin JavaScript-->
<!-- <script src="{%  static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script> -->
<!-- Stylesheet -->
<link href="{%  static 'css/stylesheet.css' %}" rel="stylesheet">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-en_US.js"></script>

<script>

	$(window).on('load', function() {
    console.log( "ready!" );
		// Get the modal
		var modal = document.getElementById('id01');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
		}
	});

	function deletePoll( poll_id ) {
		console.log("Hello - Delete Poll");
		$.ajax( {
			type: 'POST',
			url: '/deletepoll/',
			data: {
				'poll_pk': poll_id,
				'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
			},
			success: function (data) {
				if (data.success) {
					window.location.href = data.url;
				}
			},
			dataType: 'json'
		} );
	}

</script>
<style>


/* Header/Blog Title */
.header {
    padding: 10px;
    font-size: 40px;
    text-align: center;
    background: white;
}

.navbar-header{
  margin-left:5px;
  width:100%;
}

.container {
	padding: 16px;
	background-color: white;
	width: 100%;
}
/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #444;
    color: #fff;
    /* margin-top: 20px; */
		position: fixed;
    left: 0;
    bottom: 0;
		width: 100%;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
		color: #555;
}

th, td {
    padding: 15px;
    text-align: center;
}

</style>
</head>
<body>

	<!-- navbar-dark bg-info -->
	<nav class="navbar navbar-expand-sm" style="padding: 10px 15%;">
	<div class="navbar-header">
	    <a class="navbar-brand" href="{% url 'system:blank'%}"><img src="{% static 'image/logo.png' %}" alt="banner" class="responsive" style="height: 60px; width: 120px; margin-top: -10px;"></a>

	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarXs">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="navbar-collapse collapse pull-right" id="collapsingNavbarXs">
	        <ul class="navbar-nav" style="font-family: 'Open Sans'; font-size: 18px; color: black;">
							{% if user.is_authenticated %}
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'system:createpoll'%}">Create Poll</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'system:managepoll'%}">Manage Poll</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'system:userfavourite'%}">Favourites</a>
	            </li>
							{% endif %}
							<li class="nav-item">
									{% if user.is_authenticated %}
									{% else %}
											<a class="nav-link" href="{% url 'system:register'%}">Register</a>
									{% endif %}
	            </li>
	            <li class="nav-item">
									<!--
										For UNAUTHENTICATED user calling {{user.is_authenticated}} results:
											CallableBool(True) (when on Django < 1.10 it was True)
										For AUTHENTICATED user calling {{user.is_authenticated}} results:
											CallableBool(False) (when on Django < 1.10 it was False)
									-->
									{% if user.is_authenticated %}
										<form id="logout-form" action="{% url 'system:logout_user'%}" method='POST'>
											{% csrf_token %}
											<!-- <button type="submit" class="auth_btn" style="width:auto;">Logout</button> -->
										</form>
										<!-- Note: This is outside the form as to align with other on the nav bar list -->
										<a class="nav-link" href="javascript:{}" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
									{% else %}
									  	<a class="nav-link" onclick="document.getElementById('id01').style.display='block'"  href="#">Login</a>
											<!-- <button class="auth_btn" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button> -->
									{% endif %}
	            </li>
	        </ul>
	    </div>
	</div>
	</nav>

	<div class="header">
			<img src="{% static 'image/managepollbanner.png' %}" alt="banner" class="responsive">
	</div>


<div class="container">

	<table class="table table-hover">
		 <thead class="thead" style="background-color: #e74c3c; color: white;">
			 <tr>
				 <th class="col-md-4" scope="col">Title</th>
				 <th class="col-md-2" scope="col">Participated</th>
				 <th class="col-md-2" scope="col">Status</th>
				 <th class="col-md-2" scope="col"></th>
				 <th class="col-md-2" scope="col"></th>
			 </tr>
		 </thead>
		 <tbody>
			 {% if polls.count > 0 %}
			 {% for poll in polls %}
				 <tr>
					 <th scope="row" style="color: #777;">{{ poll.title }}</th>
					 <td>{{poll.current_participant}} / {{ poll.no_of_participant }}</td>
					 <td>
						 {% if poll.closed %} Closed
						 {% else %} Open
						 {% endif %}
					 </td>
					 <td><div style="border: 1px solid #e74c3c; display: inline-block"> <a class="btn btn-sm" href="/poll/{{ poll.code }}/" role="button" style="color: #e74c3c;"><b>View</b></a></td></div>
					 <td><span class="glyphicon glyphicon-trash" onclick="deletePoll({{ poll.pk }})"></span></td>
				 </tr>
				 {% endfor %}
				 {% endif %}

		 </tbody>
	 </table>
</div>

<div class="footer">
  <b>&#169; 2018 Halal Pal & Co. All rights reserved.</b>
</div>
<div id="id01" class="modal">

  <form id="login-form" method="POST" class="modal-content animate" action="{% url 'system:login_user'%}">
		{% csrf_token %}
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <spann class="avatar">Login</span>
    </div>

    <div class="container">
			{{ form }}
			<button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">New User? <a href="{% url 'system:register'%}">Register</a></span>
    </div>
  </form>
</div>


</body>
</html>
