
<style>

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card  a:link, a:visited, a:hover, a:active, a:hover  {
   color: black;
   text-decoration: none;
}
</style>

<script>console.log("COunt: " + {{shops.count}} )</script>

{% if shops.count > 0 %}

  {% for shop in shops %}
		<div class="col-auto mb-5">
			<div class="card" style="width: 32.5rem;">
				<a href="/shop/{{ shop.id }}/">
					<div class="card-body">
						<h4 class="card-title" style="color: #777;"><b>{{ shop.company_name }}</b></h4>
						<p class="card-text text-muted">{{ shop.address }}</p>
						<p class="card-text pull-right" style="border: 2px solid #eee; margin: 10px; padding: 6px;"><small class="text-muted">{{ shop.categorization }} </small></p>
					</div>
				</a>
			</div>
		</div>
  {% endfor %}

{% else %}
  No search result
{% endif %}
